*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block; 
}
.container{
    width: 1140px; 
   
    margin: 0 auto;
}

#header-top{
    width: 100%;
    height: 52px;
    background: #0f2f44;
}
#header-top .left{
    width: 50%;
    height: 52px;
    
    float: left;
    
}
#header-top .right{
    width: 50%;
    height: 52px;
    
    float: left;
    text-align: right;
}
#header-top p{
    color: #fff;
    line-height: 52px;
    font-family: 'Open Sans', sans-serif;
}
#menubar .logo{
    width: 20%;
    
    
    float:left;
   
    
}
#menubar {
    margin-top: 30px;
}

#menubar .menu-item{
    width: 70%;
    
  
   float:left; 
}

#menubar .menu-item li a:hover{
    color: #FFCB12;
    background: #FFF9E6;
    transition: .4s;
}

#menubar .menu-icon{
    
    float:left;
}


#menubar .menu-icon i:hover{
    color: #FFCB12;
    background: #0F2F44;
    transition: .4s;
}

#menubar .menu-item ul li {
    
    display: inline-block;
    text-align: right;
    margin:0 25px;
    font-size: 20px;
}

#menubar .menu-item ul{
    text-align: right;
    margin-top: 10px;
       
    
}
#menubar .menu-icon i{ 
    width: 40px;
    
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    
    margin-left: 10px;
}
#menubar .menu-item ul li a{
    color: black;
}

#banner{
    background: url(../img/banner.png) no-repeat center;
    background-size: cover;
    
    margin-top: 100px;
    padding: 100px;
}

#banner h1{
    font-family: 'Open Sans', sans-serif; 
    font-size: 50px;
    color: #0f2f44;
}

#banner h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
    color: #0f2f44;
}
#banner .our{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #aab0d8;
    letter-spacing: 15px;
    
}
#banner .details{
    width: 500px;
    padding: 20px 0;
    line-height: 20px;
}
#banner a{
    padding: 15px 19px;
    background: #8484bf;
    font-size: 20px;
    border: 1px solid #8484bf;
    border-radius: 5px;
   
}

#banner a:hover{
    background: transparent;
    transition: .4s;
    
}

#banner i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 50px;
    margin-left: 10px;
        
}
#banner i:hover{
    background: #8484bf;
    color:#fff;
    transition: .4s;
     
}
#about{
    margin-top: 100px;
}

#about .text{
    width: 50%;
    
    float: left;    
}

#about .img{
    width: 50%;
    float: left;
}
#about .aboutus{
    margin-bottom: 50px;
    font-size: 32px;
    color: #0f2f44;
}

#about ul li{
    margin-top: 20px;
}
#about ul {
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
}
#about p{
    font-family: 'Open Sans', sans-serif;
}

#about a{
    padding: 15px 20px;
    background: white;
    display: inline-block;
    color: black;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.42);
}

#service{
    width: 100%;
    height: 382px;
    background: #F5F5F5;
}


#service .head{
    width: 30%;
   

   margin: 0 auto;
    margin-top: 50px;
}
#service .head p{
    text-align: center;
    line-height: 97px;
        font-family: 'Open Sans', sans-serif;
}
#service .our{
    width: 30%;


   margin: 0 auto;
   
}
#service .one{
    width: 30%;
    
   
    position: relative;
    float: left;
    margin: 10px;
}
#service .img{
    width: 30%;
    
    
    float: left;
    padding: 50px 0;
    text-align: center;
}
 #service .text{
    width: 70%;
   
    
    float: left;
    padding: 11px;
    box-sizing: border-box;
}

#service .our h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
    text-align: center;
}
#service .text h2{
    font-family:'Open Sans', sans-serif;
}

#service .text p{
    font-family:'Open Sans', sans-serif;
    
}
    
#service{
    
    
    margin-top: 700px;
}
.one .overlay{
    width: 0%;
    height: 165px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .8s;
    text-align: center;
    
}
.one .overlay img{
    margin-top: 20px;
}
.one:hover .overlay{
    opacity: 1;
    width: 100%;
}
.overlay p{
    font-size: 20px;
    color: aliceblue;
     font-family:'Open Sans', sans-serif;
}


#protfolio{
    margin-top: 100px;
    
}

#protfolio .text p{
    
    margin: 0 auto;
   
    text-align: center;
    font-family: 'Open Sans', sans-serif;
        color: #0f2f44;
        font-size: 14px;
}

#protfolio .text h1{
    
    margin: 0 auto;
  
    text-align: center;
    margin: 15px 0;
        font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
}

#protfolio .img{
    width: 30%;
    margin-top: 41px;
   position: relative;
    float: left;
    margin-left: 30px;
    
    
}

#protfolio .img img{
    width: 100%;
   
}  
#protfolio .overlay{
    position: absolute; 
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 50px;
    background: #fff;
    opacity: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
    
}

#protfolio .overlay p{
    text-align: center;
    color: black;
    line-height: 50px;
}



#protfolio .img:hover .overlay{
    opacity: 1;
    transition: .8s;
}

#protfolio .bro a{
    
    
    padding: 15px 20px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
    margin-top: 60px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 28px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 28px -11px rgba(0,0,0,0.75);
box-shadow: 0px 0px 28px -11px rgba(0,0,0,0.75);
    
}
#protfolio .bro a:hover{
    background: #FCC512;
    transition: .4s;
}


#protfolio .bro {
    text-align: center;
}


#testimo {
    width: 100%;
    background: #F5F5F5; 
    height: 450px;
    margin-top: 100px;
}

  
#testimo .head h1{
    width: 100%;
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
    text-align: center;
    
    
}

#testimo .one{
    width: 48%;
    background: #E9E9E9;
    margin-top: 50px;
    height: 222px;
    float: left;
    margin-left: 15px;
}

#testimo .one .img{
    width: 40%;
    height: 100%;
    float: left;
}

#testimo .one .img img{
    width: 100%;
    height: 100%;
    
}

#testimo .unli{
    width: 100%;
    height: 111px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #0f2f44; 
    
}

    
#testimo .pnli{
     width: 100%;
    height: 111px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #0f2f44;
    
}

#testimo .pnli p{
    padding-top: 20px;
}

#testimo .pnli .tt{

}

#testimo .textp{
    width: 100%;
    height: 100px;
    
}


#testimo .textp p{
    text-align: center;  
    line-height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #0f2f44;
    
}

#blog{
    margin-top: 100px;
    
}

#blog .say{
    width: 100%;
    
    text-align: center;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #0f2f44;
}

#blog .blo{
    width: 100%;
    text-align: center;
    
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
}

#blog .one{
    width: 26%;
    
    background: #F5F5F5;
    margin-top: 60px;
    padding: 20px 20px;
    float: left;
    margin-left: 43px;
}

#blog .img{
    width: 100%;
    height: 230px;
    background: green;
    margin: 0 auto;
      
}

#blog .img img{
    width: 100%;
    height: 100%;
        
}

#blog .te{
    width: 100%;
    height: 40%;
    margin: 0 auto;
}

#blog .tt{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #222222;
    
}
#blog .qq{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #777777;
    padding-top: 20px;

}


#blog .one:hover{
    background: #0F2F44;
    transition: .4s;
    
}

#blog .bro a{
    padding: 15px 20px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
    margin-top: 60px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 28px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 28px -11px rgba(0,0,0,0.75);
box-shadow: 0px 0px 28px -11px rgba(0,0,0,0.75);
    
}

#blog .bro{
    text-align: center;
}

#blog .bro a:hover{
    background: #FCC512;
    transition: .4s;
}

#footer {
    width: 100%;
    background: #F5F5F5;
    margin-top: 100px;
    -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.75);
    position: relative;
    padding: 50px 0;
}

#footer .round{
    width: 70px;
    height: 70px;
    background: #FFC712;
    border-radius: 50%;
    position: absolute;
    transform: translate( -50%, -120%);
    margin-left: 50%;
}

#footer .round i{
    text-align: center;
    line-height: 70px;
    margin-left: 31px;
    font size: 30px;
    color: white;
}

#footer .one{
    width: 25%;
    margin-top: 50px;
}

#footer .tx{
    width: 100%;
        font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 20px 0;
    
}
#footer .ic{
    width: 100%;
    height: 20px;
    padding: 15px 0px;
    font-size: 20px;
    
}
#footer .ic i{
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 30px;
}

#footer .ic i:hover{
    background: #0F2F44;
    color: white;
    transition: .4s;
}













































































